<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Anime</title>
    </head>
    <body>
        <h1>Anime</h1>

        <main>
            <h1><%= item.name %></h1>
            <!-- <img src="<%= item.image %>" alt="<%= item.name %>" /> -->
            <p><%= item.description %></p>
        </main>
    </body>
</html>
